@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Monofett&family=Anton&family=Press+Start+2P&display=swap');

/* General styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1D2F57;
    background: url('../images/background-gamearea.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

/* Login page */

#start {
    background: url('../images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

#game-title {
    color: rgba(136, 246, 123);
    font-size: 7rem;
    font-family: 'Bungee Shade', cursive;
    padding-top: 6rem;
    text-align: center; 
    text-shadow: -16px 4px 2px rgba(11, 2, 43, 0.8);
}

#login-box {
    background-color: rgba(11, 2, 43, 0.8);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    height: 200px;
    margin: auto;
    max-width: 500px;
    margin-top: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Scoreboard */

#board-wrapper {
    background-color: #349697;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    font-family: 'Anton', sans-serif;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

}

#board-wrapper h1 {
    background-image: linear-gradient(-180deg, #F0945D 0%, #FA8461 100%);
    border: 1px solid #012880;
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
    0 -0.25rem 1.5rem #A34F48 inset,
    0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgb(227, 111, 100) inset;
    color: rgba(11, 2, 43);
}

#board-wrapper ul{
    margin-bottom: 0.5rem;
}

#board-wrapper li {
    list-style-type: none;
    font-size: 2rem;
    padding: 0.4rem;
}

#players-wrapper {
    flex-grow: 1;
    text-align: center;
    margin-top: 0;
}

span.fa-user {
    margin-right: 1rem;
}

#player-one {
    font-size: 2rem;
    color: #88F67B;
}

#player-two {
    color: white;
    font-size: 2rem;
}

#players-list li:nth-child(odd) {
	color: #88F67B;
}

#players-list li:nth-child(even) {
	color: white;
}

#score {
    flex-grow: 1;
    text-align: center;
}

#player-one-score {
    color: #88F67B;
    font-size: 2rem;
}

#player-two-score {

    color: white;
    font-size: 2rem;
}

#time {
    flex-grow: 1;
    text-align: center;
}


#player-one-time {
    font-size: 2rem;
    color: #88F67B;
}

#player-two-time {
    color: white;
    font-size: 2rem;
}


/* Game area */

#game-area {
    height: 85vh;
    width: 100vw;
    position: relative;
    
}

#info-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
}

#waiting-text {
    color: rgba(11, 2, 43);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

#virus {
    position: absolute;
}

img {
    width: 100px;
    height: auto;
}

#result-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    max-width: 700px;
    background-color: #D9EDEE;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    border-radius: 10px 10px 10px 10px;

    margin: 0 auto;
    margin-top: 3rem;
    padding: 3rem;

    color: rgba(11, 2, 43);
    font-family: 'Anton', sans-serif;
}

#player-result-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 2rem;
}

#result-container ul{
    list-style:none;
}

#result-container li{
    font-size: 1.5rem;
}

#result-container h2{
    font-size: 2.5rem;
}

#result-container h3{
    font-size: 2rem;
}

#result-container p{
    font-size: 2rem;
}

button#play-again {
    border-radius: 20px 20px 20px 20px;

    background-image: linear-gradient(-180deg, #F0945D 0%, #FA8461 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
    0 -0.25rem 1.5rem #A34F48 inset,
    0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgb(227, 111, 100) inset;

    padding: 10px;
    border: 1px solid #012880;
    font-size: 2rem;
}



