@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Monofett&family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
/*     display: flex;
    flex-direction: column; */
    /* background-color: #6ea3b5; */
    background-color: #1D2F57;
    
}

.background {
    background: url('../images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#score-board-menu {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
/*     height: 10vh; */
    align-items: center;
}

#game-title {
    text-align: center;
    
/*     margin-top: 10rem; */
    
    color: rgba(136, 246, 123);

    padding-top: 6rem;
    font-size: 7rem;
    font-family: 'Bungee', cursive;
    text-shadow: -16px 4px 2px rgba(11, 2, 43, 0.8);
    /* text-shadow: -16px 4px 2px #0C0503; */

    /* padding-top: 6rem;
    font-size: 4rem;
    font-family: 'Press Start 2P', cursive;
    text-shadow: -16px 4px 2px #0C0503;  */

    /* padding-top: 5rem;
    font-size: 7rem;
    font-family: 'Bungee Shade', cursive;
    text-shadow: -16px 4px 2px rgba(11, 2, 43, 0.8); */
}

/* h1 #game-title {

    color: rgba(136, 246, 123);
} */

#game-area {
/*     height: 90vh; */
/*     height: 100vh; */
    width: 100vw;
}

#login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    margin: auto;
    /* background-color: rgba(0,0,0,0.8); */
    background-color: rgba(11, 2, 43, 0.8);
/*     background-color: rgba(11, 18, 33, 0.8); */
    margin-top: 5rem;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    border-radius: 10px 10px 10px 10px;
}

/* #login input{

} */


#timer-box {
    display: flex;
    background-color: black;
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 2rem;
    height: 80%;
    padding: 5px;
}

#timer {
    background-color: red;
}

#score-board-menu h1{
    font-size: 1.5rem;
}

#score-board-menu h2{
    font-size: 1rem;
}